<table>
 <tr>
 <% form_for(@user) do |f| %>
  <td width=53%>
   <h2>Update Personal Info</h2>
   <div class="field">
     <%= f.label :name %><br />
     <%= f.text_field :name %>
   </div>
   <div class="field">
     <%= f.label :email %><br />
     <%= f.text_field :email %>
   </div>
   <div class="field">
     <%= f.label :password %><br />
     <%= f.password_field :password %>
   </div>
   <div class="field">
     <%= f.label :password_confirmation, "Confirmation" %><br />
     <%= f.password_field :password_confirmation %>
   </div>
   <div>
     <%= f.submit "Update" %>
   </div>
   <%= link_to 'Show', @user %>
   </div>
  </td>
  <td>
    <div class="hint round">
      <%= f.error_messages %>
	 </div>
  </td>
 <% end %>
 </tr>
</table>
