<p>
  <b>Name:</b>
  <%=h @user.name %>
  <br>
  <b>Email:</b>
  <%=h @user.email %>
  <br>
  <%= link_to 'Modify', edit_user_path(@user) %> 
</p>

<table class="profile">
  <tr>
    <td>
      <h2><%= h @user.name %></h2>
    </td>
    <td>
       <%= image_tag("rails.png", :alt => "Sample App", :class => "round") %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= h @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), user_path(@user) %>
    </td>
  </tr>
</table>

