<p>
  <b>Name:</b>
    <%=h @user.name %>  
  <br />
  <b>Email:</b>
  <%=h @user.email %>   
</p>

<table class="profile">
  <tr>
    <td>
      <%= h @user.name %>
      <%= image_tag("rails.png", :alt => "Hong's App", :class => "round") %>
      <% unless @user.microposts.empty? %>
        <table class="microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'users/follow_form' %>
      <%= link_to "<strong>Name: #{@user.name}</strong>", user_path(@user) %>
      <br />
      <strong>Microposts:</strong> <%= @user.microposts.count %> 
      <br />
      
      <table>
       <tr>
        <td>
          <a href="<%= following_user_path(@user) %>"> <%= @user.following.count %> following </a>
        </td>
        <td>
          <a href="<%= followers_user_path(@user) %>"> <%= pluralize(@user.followers.count, "follower") %></a>
        </td>
       </tr>
      </table>

    </td>
  </tr>
</table>
</table>

